@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

/****************************************************** PAGINA INDEX ********************************************************/

.titulos {
    background-color: rgb(223, 223, 223);
    width: 100%;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    border: 0.1rem solid black;
    margin-top: 1rem;
}


/*** Carrousel ***/

#galeriaImagenes {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(ellipse at center, rgb(243, 243, 171) 50%, rgb(238, 169, 40) 100%);
}

#carrousel {
    width: 70%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.h5-item-carrousel {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: 800;
    font-size: 2rem;
}

.p-item-carrousel {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 1.2rem;
    font-weight: 500;
}

#item1 h5 {
    color: #ff0000;
}

#item1 p {
    color: #f2ff00;
}

#item2 h5 {
    color: rgb(255, 23, 6);
}

#item2 p {
    color: rgb(253, 182, 0);
}

#item3 h5 {
    color: rgb(255, 23, 6);
}

#item3 p {
    color: #660000;
}


/**** Novedades ****/

.novedades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem;
}

.img-thumbnail {
    width: 100%;
    height: 100%;
}


/**** Productos Destacados ****/

.productosDestacados__banner {
    width: 100%;
    height: 6rem;
    background-image: url(https://images.pexels.com/photos/7585807/pexels-photo-7585807.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: cover;
    background-position: left center;
}

.productosDestacados__grilla {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 1.2rem;
    align-self: center;
    justify-content: space-around;
}

.productosDestacados__img {
    width: 100%;
    height: 100%;
    margin: 0rem;
    border: black 0.15rem solid;
}


/****************************************************** FIN PAGINA INDEX ********************************************************/


/****************************************************** FORMULARIO DE CONTACTO **************************************************/

.formularioContacto input,
select {
    margin-bottom: 1rem;
    width: 13rem;
    transition: all 2s;
}

.formularioContacto textarea {
    margin-bottom: 1rem;
    width: 20rem;
    transition: all 2s;
}

.formularioContacto input:hover,
select:hover {
    width: 19rem;
    font-size: 1.5rem;
}

.formularioContacto textarea:hover {
    width: 26rem;
    font-size: 1.5rem;
}

.formularioContacto div.form-check {
    padding: 0rem;
}

.formularioContacto input.btn.btn-primary:hover {
    width: 13rem;
    font-size: 1rem;
}

#news-contacto:hover {
    width: 13rem;
}

.formularioContacto label {
    width: 10rem;
}

.formularioContacto {
    margin-left: 1.2rem;
}


/****************************************************** COMO COMPRAR **************************************************/

.videoComoComprar {
    width: 45rem;
    height: 26rem;
}


/****************************************************** COMO COMPRAR **************************************************/

.page404 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.page404__imagenFondo {
    grid-area: imagen;
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    z-index: -1;
}

.page404__imagenFondo img {
    width: 100%;
    height: 100%;
}

.page404__mensaje {
    grid-area: mensaje;
    grid-column: 2 / 5;
    grid-row: 1 / 1;
    z-index: 1;
    align-self: end;
    justify-self: center;
}

.page404__mensaje p {
    font-size: xx-large;
    color: rgb(194, 20, 185);
    font-family: Roboto;
    font-weight: 800;
}

.page404__boton {
    grid-area: boton;
    grid-column: 3 / 4;
    grid-row: 5 /5;
    z-index: 1;
    align-self: center;
    justify-self: center;
    background-color: grey;
}

.page404__boton input.btn.btn-primary {
    background: rgb(186, 183, 183);
    border-color: rgb(80, 80, 80);
}


/* DEFINICIONES PANTALLAS DE MENOS DE 768px */

@media screen and (min-width: 960px) and (max-width: 1100px) {
    .img-thumbnail {
        height: 44vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    #carrousel {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 959px) {
    .img-thumbnail {
        height: 40vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    * {
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        font-size: 14px;
    }
    .contenedor-logo {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal div#menuDesplegable ul ul {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal div#miCuenta ul ul {
        background-color: rgb(193, 233, 193);
    }
    footer {
        background-color: rgb(193, 233, 193);
    }
    .titulos {
        background: rgb(193, 233, 193);
    }
    #carrousel {
        width: 90%;
    }
    .img-thumbnail {
        height: 33vh;
    }
    .videoComoComprar {
        width: 38rem;
    }
}


/* DEFINICIONES PANTALLAS DE MENOS DE 600px */

@media screen and (max-width: 600px) {
    * {
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        font-size: 12px;
    }
    .contenedor-logo {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal div#menuDesplegable ul ul {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal div#miCuenta ul ul {
        background-color: rgb(247, 216, 247);
    }
    footer {
        background-color: rgb(247, 216, 247);
    }
    .titulos {
        background: rgb(247, 216, 247);
    }
    #carrousel {
        width: 100%;
    }
    .img-thumbnail {
        height: 28vh;
    }
    .videoComoComprar {
        width: 35rem;
    }
}