@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

/****************************************************** PAGINA INDEX ********************************************************/

.titulos {
    background-color: rgb(223, 223, 223);
    width: 100%;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    border: 0.1rem solid black;
    margin-top: 1rem;
}


/*** Carrousel ***/

#galeriaImagenes {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(ellipse at center, rgb(243, 243, 171) 50%, rgb(238, 169, 40) 100%);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#carrousel {
    width: 70%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.h5-item-carrousel {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.p-item-carrousel {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 1rem;
    font-weight: 300;
}

#item1 h5 {
    color: #ff0000;
}

#item1 p {
    color: #f2ff00;
}

#item2 h5 {
    color: rgb(255, 23, 6);
}

#item2 p {
    color: rgb(253, 182, 0);
}

#item3 h5 {
    color: rgb(255, 23, 6);
}

#item3 p {
    color: #660000;
}


/**** Novedades ****/

.novedades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem;
}

.novedadesDiv {
    width: 98%;
}

.fondoItem {
    width: 20%;
    border: black solid 0.1rem;
    border-radius: 1.25rem;
    background-color: rgb(240, 225, 167);
    padding: 0.3rem;
    margin-left: 0.1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.fondoItem h4 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-weight: 700;
}

.fondoItem #descripcion {
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 0 0 0.2rem;
}

.fondoItem #precio {
    font-weight: bold;
    text-align: right;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-right: 0.5rem;
}

.img-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}


/**** Productos Destacados ****/

.productosDestacados__banner {
    width: 100%;
    height: 6rem;
    background-image: url(https://images.pexels.com/photos/7585807/pexels-photo-7585807.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: cover;
    background-position: left center;
}

.productosDestacados__grilla {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 1.2rem;
    align-self: center;
    justify-content: space-around;
}

.productosDestacados__grilla__item {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border: black solid 0.15rem;
}

.productosDestacados__grilla__item h4 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-weight: 700;
}

.productosDestacados__grilla__item #descripcion {
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 0 0 0.2rem;
}

.productosDestacados__grilla__item #precio {
    font-weight: bold;
    text-align: right;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-right: 0.5rem;
}

.productosDestacados__img {
    width: 100%;
    height: auto;
    margin: 0rem;
    border: black 0.15rem solid;
    border-radius: 1.2rem;
}


/****************************************************** FIN PAGINA INDEX ********************************************************/


/****************************************************** COMIENZO FORMULARIO DE CONTACTO **************************************************/

.formularioContacto input,
select {
    margin-bottom: 1rem;
    width: 13rem;
    transition: all 2s;
}

.formularioContacto textarea {
    margin-bottom: 1rem;
    width: 20rem;
    transition: all 2s;
}

.formularioContacto input:hover,
select:hover {
    width: 19rem;
    font-size: 1.5rem;
}

.formularioContacto textarea:hover {
    width: 26rem;
    font-size: 1.5rem;
}

.formularioContacto div.form-check {
    padding: 0rem;
}

.formularioContacto input.btn.btn-primary:hover {
    width: 13rem;
    font-size: 1rem;
}

#news-contacto:hover {
    width: 13rem;
}

.formularioContacto label {
    width: 10rem;
}

.formularioContacto {
    margin-left: 1.2rem;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: rgb(196, 105, 96);
    border-color: rgb(196, 105, 96);
}


/****************************************************** FIN FORMULARIO DE CONTACTO **************************************************/


/****************************************************** COMIENZO COMO COMPRAR **************************************************/

.videoDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

.videoComoComprar {
    width: 45rem;
    height: 26rem;
    align-self: center;
}


/****************************************************** FIN COMO COMPRAR **************************************************/


/****************************************************** COMIENZO MEDIOS DE PAGO **************************************************/

#mediosDePago {
    margin-top: 2rem;
    text-align: justify;
}

.marcoPagos {
    border: rgb(17, 17, 17) solid 0.1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 3rem;
    background-color: rgb(239, 242, 232);
}

.marcoPagos h2 {
    text-align: center;
}


/****************************************************** FIN MEDIOS DE PAGO **************************************************/


/*************************************************** COMIENZO FORMAS DE ENVIO ***********************************************/

#formasEnvio {
    margin-top: 2rem;
    text-align: justify;
}

.marco {
    border: rgb(17, 17, 17) solid 0.1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 3rem;
    background-color: rgb(239, 242, 232);
    text-align: center;
}


/*************************************************** FIN FORMAS DE ENVIO **************************************************/

.page404 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: url(../images/pexels-brady-knoll-2837572-medium.jpg) center no-repeat;
}

.page404__mensaje {
    grid-area: mensaje;
    grid-column: 2 / 5;
    grid-row: 2 / 2;
    z-index: 1;
    align-self: end;
    justify-self: center;
}

.page404__mensaje p {
    font-size: 3rem;
    color: rgb(195, 223, 19);
    font-family: Roboto;
    font-weight: 800;
    text-align: center;
}

.page404__boton {
    grid-area: boton;
    grid-column: 3 / 4;
    grid-row: 5 /5;
    z-index: 1;
    align-self: center;
    justify-self: center;
    background-color: rgb(128, 128, 128);
}

.page404__boton input.btn.btn-primary {
    background: rgb(231, 116, 8);
    border-color: rgb(17, 17, 17);
    font-size: 1.5rem;
}


/* DEFINICIONES PANTALLAS DE MENOS DE 768px */

@media screen and (min-width: 769px) and (max-width: 1100px) {
    #carrousel {
        width: 80%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    * {
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        font-size: 14px;
    }
    .contenedor-logo {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal div#menuDesplegable ul ul {
        background-color: rgb(193, 233, 193);
    }
    .menu-principal div#miCuenta ul ul {
        background-color: rgb(193, 233, 193);
    }
    footer {
        background-color: rgb(193, 233, 193);
    }
    .titulos {
        background: rgb(193, 233, 193);
    }
    #carrousel {
        width: 90%;
    }
    .videoComoComprar {
        width: 100%;
    }
}


/* DEFINICIONES PANTALLAS DE MENOS DE 600px */

@media screen and (max-width: 600px) {
    * {
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        font-size: 14px;
    }
    .contenedor-logo {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal div#menuDesplegable ul ul {
        background-color: rgb(247, 216, 247);
    }
    .menu-principal div#miCuenta ul ul {
        background-color: rgb(247, 216, 247);
    }
    footer {
        background-color: rgb(247, 216, 247);
    }
    .titulos {
        background: rgb(247, 216, 247);
    }
    #carrousel {
        width: 100%;
    }
    .h5-item-carrousel {
        font-weight: 400;
        font-size: 1.3rem;
    }
    .p-item-carrousel {
        display: none;
    }
    .videoComoComprar {
        width: 100%;
    }
    .formularioContacto textarea {
        width: 16rem;
    }
    .formularioContacto textarea:hover {
        width: 100%;
        font-size: 1.5rem;
    }
    .marco {
        padding: 1.5rem;
    }
    .marcoPagos {
        padding: 1.5rem;
    }
    .menu-principal div#miCuenta {
        grid-column: 14 / 18;
    }
    .menu-principal div#menuDesplegable ul ul {
        width: 10rem;
        padding: 0.3rem;
    }
    .menu-principal div#miCuenta ul ul {
        width: 8rem;
        padding: 0.3rem;
    }
    .menu-principal div#menuDesplegable ul ul li {
        padding-left: 0.4rem;
    }
    .menu-principal div#miCuenta ul ul li {
        padding-left: 0.4rem;
    }
    .productosDestacados__banner {
        height: 3rem;
    }
    .productosDestacados__grilla {
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    .fondoItem {
        width: 45%;
    }
}

@media screen and (max-width: 300px) {
    * {
        font-size: 13px;
    }
    .menu-principal div#miCuenta {
        grid-column: 10 / 14;
    }
    .menu-principal div#menuDesplegable ul ul {
        width: 9.5rem;
        padding: 0.3rem;
    }
    .menu-principal div#miCuenta ul ul {
        width: 7.8rem;
        padding: 0.3rem;
    }
    .menu-principal div#menuDesplegable ul ul li {
        padding-left: 0.4rem;
    }
    .menu-principal div#miCuenta ul ul li {
        padding-left: 0.4rem;
    }
    .productosDestacados__banner {
        height: 3rem;
    }
}