$color-h1: rgb(33, 4, 87);
$color-h2: rgb(100, 51, 192);
$colorTransparente: rgba(223, 223, 223, 0);
$bordeRedondeado: true;
$borderTabla: black 0.1rem solid;
$colorEncabezados: rgb(220, 247, 255);
$colorInterior: rgb(243, 243, 147);
$borderRadius: 0rem;